POSTGRES_USER: <your_postgres_user>
POSTGRES_PASSWORD: <your_postgres_password>
POSTGRES_DB: <your_postgres_db>
POSTGRES_URL: <your_postgres_url> in the format: postgresql://<user>:<password>@<host>:<port>/<database>  e.g. postgresql://postgres:1234@localhost:5432/postgres
