POSTGRES_USER: <your_postgres_user>
POSTGRES_PASSWORD: <your_postgres_password>
POSTGRES_DB: <your_postgres_db>
POSTGRES_URL: <your_postgres_url> in the format: postgresql://<user>:<password>@<host>:<port>/<database>  e.g. postgresql://postgres:1234@localhost:5432/postgres
DATABASE_URL: <your_database_url> in the format: postgresql://<user>:<password>@<host>:<port>/<database>
NVIDIA_API_KEY=your_nvidia_api_key_here
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
NVIDIA_MODEL=the model you want to use